* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

/* Layout */
body {
  display: flex;
  background-color: #F8F4FF;
  overflow-x: hidden;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background: white;
  padding: 20px;
  height: 100vh;
  position: sticky;
  top: 0;
  overflow-y: scroll;
  overflow-y: scroll;
  scroll-snap-type: none;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar-header {
  text-align: center;
  margin-bottom: 20px;
  background-color: #d9d9d9;
  padding: 10px;
  margin-top: 20px;
}

.menu ul {
  list-style: none;
}

.menu ul li {
  padding: 10px;
}

.menu ul li :hover {
  background-color: #4745a4;
}

.menu ul li a {
  text-decoration: none;
  color: #888;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 400;
}

.menu ul li a:hover {
  color: white;
  border-radius: 5px;
  padding: 10px;
}
.sidebar .menu ul li.active a {
  border-radius: 5px;
  color: black;
  font-weight: 600;
}
.sidebar .menu ul li.active a:hover {
  color: white;
}

.menu ul li a img {
  width: 1.5rem;
  height: 1.5rem;
}
